@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

ul li:hover span {
  width: 100%;
}

.underlineb {
  border-bottom: 2px solid #fff;
  width: 100%;
}

.round {
  width: 200px;
  height: 200px;
  background: #f6ebff;
  border-radius: 100%;
  opacity: 0.5;
}

.arrow {
  font-size: 35px;
  animation: move 2s infinite;
}
@keyframes move {
  0%,
  100 {
    margin-top: 0px;
  }
  100% {
    margin-top: 15px;
  }
}

/* .socials {
  box-shadow: 0px 2px 6px rgba(108, 167, 178, 0.5), 0px 0px 5px rgba(0, 50, 100, 0.3);
} */
.socials:hover {
  font-size: 35px;
  margin-left: 8px;
}
.cardBlur:hover {
  scale: 1.04;
}
.blur {
  backdrop-filter: blur(1px);
}

/* From Uiverse.io by VijinV */
.inputbox {
  position: relative;
  width: 450px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #fff;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #f5f5f5;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: #fff;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ccc;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 44px;
}

.btn:hover {
  color: #3D3CC9;
  background: white;
  border: 1px solid #3D3CC9;
}


/*Responsiveness*/
@media (max-width: 376px) {
  body {
    width: 375px;
  }
  .header {
    width: 375px;
    margin-left: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  .logo {
    font-size: 18px;
  }
  .nav {
    display: none;
  }
  .navBtn {
    display: none;
  }
  .bar {
    display: block;
    font-size: 25px;
  }
  .mainPage {
    width: 375px;
    height: 100vh;
    overflow: hidden;
    background: #3D3CC9;
    position: relative;
  }
  .hero-img {
    position: absolute;
    bottom: 80px;
  }
  .hero-txt {
    padding-top: 100px;
    color: white;
    font-size: 27px;
    font-weight: 700;
    margin-left: 20px;
    position: relative;
  }
  .txt2 {
    position: relative;
    font-size: 18px;
    color: white;
    margin-top: -5px;
    margin-left: 22px;
  }
  .social-div {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: 250px;
    color: white;
    font-size: 28px;
    margin-left: 62px;
  }
  .arrow {
    position: absolute;
    top: 95px;
    left: 180px;
    color: white;
  }
  .info-head {
    text-align: start;
    color: #3D3CC9;
    font-weight: bold;
    font-size: 24px;
    padding-top: 80px;
    padding-left: 12px;
    width: 365px;
    text-decoration: underline;
  }
  .info-div {
    width: 370px;
  }
  .info-txt {
    padding: 10px;
    font-size: 19px;
  }
  .info-ul {
    width: 300px;
    margin-left: 28px;
    list-style-type: disc;
    font-size: 18px;
  }
  .info-img1 {
    width: 550px;
    margin-top: -40px;
  }
  .info-div2 {
    
  }
}
 
